@media all and (max-width : 768px){ 
    .d-flex{
        flex-wrap: wrap;
    }
    .content-fluid{
        background-size:cover ;
    }
    .skill-information{
        flex-wrap: wrap;
    }
    .skill-information-all{
        grid-column-end: inherit;
        grid-template-columns: repeat(1,1fr);
    }
    /* .container .navbar-brand{
        display: none;
    }
    /* .navbar-toggler{ */
        
}
